# Do not include the json files
yelp_json/

# Ignore Emacs auto-save files
\#*\#

# Ignore sqlite3 db
*.db*

# Ignore parquet files
*.parquet

# Ignore .ropeproject
.ropeproject/

.ipynb_checkpoints/

.virtual_documents/
